.container {
  padding: 0 64px 100px;
}

.header {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
  padding: 20px 0 10px;
  margin-bottom: 50px;
}

.navigation {
  display: flex;
  gap: 40px;
}

.link {
  color: var(--primary-color-black);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  transition: color 500ms ease-in-out;
}

.link:hover {
  color: var(--primary-color-red);
}

.linkActive {
  color: var(--primary-color-red);
  transition: color 500ms ease-in-out;
}
