.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(16, 24, 40, 0.6);
  z-index: 10;
  overflow: auto;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.backdropHidden {
  position: fixed;
  inset: 0;
  background: rgba(16, 24, 40, 0.6);
  z-index: 10;
  overflow: auto;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color-white);
  padding: 40px;
  border-radius: 20px;
  z-index: 10;
  width: 902px;
  max-height: 672px;
  overflow: auto;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.modalHidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color-white);
  padding: 40px;
  border-radius: 20px;
  z-index: 10;
  width: 902px;
  max-height: 672px;
  overflow: auto;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.modal::-webkit-scrollbar {
  width: 8px;
}

.modal::-webkit-scrollbar-track {
  background: none;
}

.modal::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 7px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
}

.secondContent {
  display: flex;
  gap: 24px;
  border-top: 1px solid rgba(16, 24, 40, 0.2);
  padding-top: 44px;
}

.headerModal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleModal {
  color: var(--primary-color-black);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.iconClose {
  fill: transparent;
  stroke: var(--primary-color-black);
  transition: stroke 500ms ease-in-out;
}

.iconClose:hover {
  stroke: var(--primary-color-red);
}

.buttonClose {
  background: none;
  height: 32px;
}

.infoContainer {
  display: flex;
  gap: 16px;
}

.subContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.iconStar {
  fill: var(--primary-color-yellow);
}

.textRating {
  text-decoration: underline;
}

.textRating,
.textLocation {
  color: var(--primary-color-black);
  font-size: 16px;
  line-height: 24px;
}

.iconWrapper {
  fill: transparent;
  stroke: var(--primary-color-black);
}

.iconWrapperSecond {
  fill: var(--primary-color-black);
}

.gallery {
  display: flex;
  gap: 16px;
}

.advertImage {
  width: 290px;
  height: 310px;
  border-radius: 10px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.description {
  color: var(--primary-color-gray);
  font-size: 16px;
  line-height: 24px;
}

.additionalLinkContainer {
  display: flex;
  gap: 40px;
}

.additionalLink {
  color: var(--primary-color-black);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  padding-bottom: 24px;
  transition: color 500ms ease-in-out;
}

.additionalLink:hover {
  color: var(--primary-color-red);
}

.underlineHidden {
  display: none;
  transition: display 500ms ease-in-out;
}

.underlineFeatures {
  display: block;
  position: absolute;
  bottom: -260px;
  left: 40px;
  width: 85px;
  height: 6px;
  background-color: var(--primary-color-red);
  transition: display 500ms ease-in-out;
}

.underlineReviews {
  display: block;
  position: absolute;
  bottom: -260px;
  left: 155px;
  width: 101px;
  height: 6px;
  background-color: var(--primary-color-red);
  transition: display 500ms ease-in-out;
}
